<h3>Ride Offers</h3>
<table class="table table-hover table-striped">
  <tr>
    <th style="text-align: center">
      #
    </th>
    <th ng-click="$ctrl.orderBy('offeredBy')" style="text-align: center">
      Offered By
      <span class="sortorder" ng-show="$ctrl.orderByField === 'offeredBy'" ng-class="{reverse: $ctrl.reverseOrder}"></span>
    </th>
    <th ng-click="$ctrl.orderBy('seatsOffered')" style="text-align: center">
      Seats Offered
      <span class="sortorder" ng-show="$ctrl.orderByField === 'seatsOffered'" ng-class="{reverse: $ctrl.reverseOrder}"></span>
    </th>
    <th ng-click="$ctrl.orderBy('offeredOn')" style="text-align: center">
      Offered On
      <span class="sortorder" ng-show="$ctrl.orderByField === 'offeredOn'" ng-class="{reverse: $ctrl.reverseOrder}"></span>
    </th>
    <th ng-click="$ctrl.orderBy('seatsMatched')" style="text-align: center">
      Seats Matched
      <span class="sortorder" ng-show="$ctrl.orderByField === 'seatsMatched'" ng-class="{reverse: $ctrl.reverseOrder}"></span>
    </th>
  </tr>
  <tr ng-show="$ctrl.rideOffers.length === 0">
    <td>No ride offers found for this trip.</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr ng-repeat="rideOffer in $ctrl.rideOffers | orderBy : $ctrl.orderByField : $ctrl.reverseOrder">
    <td>{{$index+1}}</td>
    <td>
      {{rideOffer.offeredBy}}
    </td>
    <td>
      {{rideOffer.seatsOffered}}
    </td>
    <td>
      {{rideOffer.offeredOn | date: 'yyyy-MM-dd hh:mm:ss a Z'}}
    </td>
    <td>
      {{rideOffer.seatsMatched}}
    </td>
  </tr>
</table>